#bookmarks_table
  %table.table.table-striped.table-hover
    %thead
      %tr
        %th.site-name Site name
        %th Description
        %th.table-edit Action
      %tbody
      - @bookmarks.each do |bookmark|
        %tr{ id: bookmark.id }
          %td= link_to truncate(bookmark.title, lenth: 30), url_checker(bookmark.url), target: "_blank"
          %td= truncate(bookmark.description, length: 120)
          %td
            = link_to "Edit", edit_bookmark_path(bookmark), remote: true,
              data: { toggle: "modal", target: "#edit-modal" }
            |
            = link_to "Delete", bookmark, remote: true, method: :delete,
              data: { confirm: "Are you sure?" }
