%h1
  About the website
%p
  Bookmarker is a small project developed in <a href="http://www.rubyonrails.org">Ruby on Rails</a>.
  Its primary use is storing bookmarks, which can be achieved either with 
  automatic parsing via JavaScript, using OpenURI module and 
  <a href="http://www.nokogiri.org/">Nokogiri</a> gem, or by adding the bookmark manually via HTML.
%p
  With Bookmarker, you can also organize your bookmarks into folders, which are implemented using
  <a href="http://www.jquery.com/">JQuery</a> and <a href="http://www.jqueryui.com">JQuery UI</a>. 
  The folders and bookmarks are draggable and droppable and can be organized as such.
%p
  The website is designed using the <a href="http://twitter.github.io/bootstrap/">Bootstrap</a>
  CSS framework by <a href="http://www.twitter.com">Twitter</a>. The design was heavily inspired by
  Michael Hartl's <a href="http://www.railstutorial.org">Ruby on Rails tutorial</a>.
%p
  Other gems that were used include <a href="http://www.haml.info/">HAML</a>,
  <a href="http://www.sass-lang.com/">SASS</a> and <a href="https://www.github.com/codahale/bcrypt-ruby">BCrypt</a>.

