.text-center.hero-unit 
  %h1 Bookmarker
  %p
    Bookmarker is a Rails-based bookmarking platform with sortable bookmark list and folder support.
    To try out Bookmarker, click on the "Demo" link in the link bar.
